.tag-input-field {
  width: 100%;
}

mat-chip-row {
  font-size: 14px;

  // Default dark text for light backgrounds
  ::ng-deep .mdc-evolution-chip__text-label {
    color: #000000 !important;
  }

  // Default dark icon for light backgrounds
  ::ng-deep .mat-mdc-chip-remove {
    color: #000000 !important;
  }

  // White text and icon for dark backgrounds
  &.light-text ::ng-deep .mdc-evolution-chip__text-label {
    color: #ffffff !important;
  }

  &.light-text ::ng-deep .mat-mdc-chip-remove {
    color: #ffffff !important;
  }
}

.tag-color-indicator {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 8px;
  vertical-align: middle;
}

.create-option {
  color: #1976d2;
  font-weight: 500;
}

.create-option mat-icon {
  vertical-align: middle;
  margin-right: 4px;
  font-size: 18px;
  height: 18px;
  width: 18px;
}
